h1{
    color: brown;
    /* background-color: deeppink; */ background-image: linear-gradient(deeppink, coral, blueviolet);
    text-decoration: wavy;
    text-align: center;
}
p{
    background-color: yellow;
    color: darkblue;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}